
*{
  padding: 0;
  margin: 0;
}
html{
  width: 100%;
  min-height:100%;

}

.Modal{
  background-color: royalblue;
  width: 50%;
  height: 50%;
  position: fixed;
  top: 25vh;
}

h4{
  padding: .5rem;
  color:rgba(199, 136, 0,0.8);
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(83, 11, 11);
  padding: 3rem;
  min-height: 100vh;
}

h1{
  font-size: clamp(4rem, 6vw, 9rem);
  color:rgb(199, 136, 0);
  text-align: center;
}

.breweryCard{
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 15px;
  border:rgb(199, 136, 0) 1px solid;
  padding: .5rem 1rem .5rem 1rem;
  margin: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardContainer{
  justify-content: center;
  max-width: 600px;
  width: 100%;
  flex-wrap: wrap;
  padding: 2rem;
}

.breweryName{
  color:rgba(255, 255, 255,.7);
  font-size: 2rem;
}

input{
  padding: 1rem 1rem;
  border-radius: 50px;
  max-width: 500px;
  width: 70%;
  border: 1px rgb(199, 136, 0) solid;
  background-color: rgba(255,255,255, 0.15);
  color:rgb(199, 136, 0)
}

input::placeholder{
  color:rgb(199, 136, 0);
}

input:focus{
  outline: none;
}